:host{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 5rem;
    background-image: linear-gradient(rgba(var(--blue),0.9),rgba(var(--darkblue),0.9) 55%, rgba(var(--darkblue),0.9) 88%, rgba(194,178,128,0.1) 99%);
    * {
        z-index: inherit;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 4rem 1rem 4rem;
        .homeLink{
            display: flex;
            align-items: center;
            gap: 1rem;
            img{
                max-width: 5rem;
                border-radius: 50%;
            }
        }
        a{
            text-decoration: none;
            color: rgb(var(--text));
            font-weight: 500;
            span {
                padding-bottom: 0.25rem;
                background: linear-gradient(currentColor 0 0) bottom left / var(--underline-width, 0%) 0.1rem no-repeat;
                transition: background-size 0.5s;
                display: flex;
            }
            &:hover span{
                --underline-width: 100%;
            }
        }
        .desktop-menu{
            display: flex;
            gap: 2rem;
            list-style-type: none;
        }
        .mobile-menu{
            background-color: transparent;
            border: none;
            display: none;
        }
    }
    .mobile-menu-list{
        display: none;
    }
    @media screen and (max-width: 1000px) {
        nav {
            padding: 0.5rem 1rem 1rem 1rem;
            .homeLink span {
                display: none;
            }
            .desktop-menu{
                display: none;
            }
            .mobile-menu{
                display: flex;
            }
        }
        .mobile-menu-list{
            display: flex;
            flex-direction: column;
            background-image: linear-gradient(rgba(194, 178, 128, 0.1) 1%, rgba(var(--darkblue), 1) 5%, rgba(var(--darkblue), 1) 96%, rgba(194, 178, 128, 0.1) 99%);
            padding: 2rem;
            margin-top: -80vh;
            transition: margin-top 0.33s;
            &.active { margin-top: -1rem; }
            a{
                text-decoration: none;
                color: rgb(var(--text));
                font-weight: 500;
                margin: 1rem 0;
                font-size: 1.25rem;
                span {
                    padding-bottom: 0.25rem;
                    background: linear-gradient(currentColor 0 0) bottom left / var(--underline-width, 0%) 0.1rem no-repeat;
                    transition: background-size 0.5s;
                    display: flex;
                }
                &:hover span{
                    --underline-width: 100%;
                }
            }
        }
    }
}