:host{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-image: linear-gradient(rgba(var(--blue),0.9),rgba(var(--sand),0.9) 55%, rgba(var(--sand),0.9) 75%, rgba(194,178,128,0.1) 99%);
    * {
        z-index: inherit;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 2rem 1rem 2rem;
        .homeLink{
            display: flex;
            align-items: center;
            gap: 1rem;
            img{
                max-width: 5rem;
                border-radius: 50%;
            }
        }
        a{
            text-decoration: none;
            color: rgb(var(--text));
            font-weight: 500;
            span {
                padding-bottom: 0.25rem;
                background: linear-gradient(currentColor 0 0) bottom left / var(--underline-width, 0%) 0.1rem no-repeat;
                transition: background-size 0.5s;
            }
            &:hover span{
                --underline-width: 100%;
            }
        }
        ul{
            display: flex;
            gap: 1.5rem;
            list-style-type: none;
        }
    }
}