<nav>
    <a [routerLink]="['/']" class="homeLink">
        <img src="timeless-sea.png"/>
        <span>Морско Безвремие</span>
    </a>
    <ul class="desktop-menu">
        <li>
            <a [routerLink]="['about']">
                <span><mat-icon>house</mat-icon>&nbsp;За къщата</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['gallery']">
                <span><mat-icon>perm_media</mat-icon>&nbsp;Галерия</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['contacts']">
                <span><mat-icon>book_online</mat-icon>&nbsp;Резервирай</span>
            </a>
        </li>
    </ul>
    <button class="mobile-menu" mat-fab aria-label="Mobile menu toggle" (click)="toggleMobileMenu($event)">
        <mat-icon>menu</mat-icon>
    </button>
</nav>
<div class="mobile-menu-list" [ngClass]="mobile_menu_opened ? 'active' : ''">
    <a [routerLink]="['about']">
        <span><mat-icon>house</mat-icon>&nbsp;За къщата</span>
    </a>
    <a [routerLink]="['gallery']">
        <span><mat-icon>perm_media</mat-icon>&nbsp;Галерия</span>
    </a>
    <a [routerLink]="['contacts']">
        <span><mat-icon>book_online</mat-icon>&nbsp;Резервирай</span>
    </a>
</div>