:host{
    width: 100%;
    // background-color: rgba(var(--blue),0.8);
    background-image: linear-gradient(var(--background-rgba) 1%,rgba(var(--blue),0.5) 4%, rgba(var(--blue),0.5) 92%, rgba(var(--darkblue),0.9) 97%);
    .footer-wrapper {
        padding: 2rem 2rem 3rem 2rem;
        display: flex;
        justify-content: space-around;
        gap: 2rem;
        .homeLink{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            color: rgb(var(--darkblue));
            font-size: 1.25rem;
            span{
                padding-top: 0.5rem;
            }
            img{
                max-width: 5rem;
                border-radius: 50%;
                margin-bottom: 1rem;
            }
        }
        a{
            text-decoration: none;
            color: rgb(var(--text));
            font-weight: 500;
        }
        .col { 
            display: flex;
            flex-direction: column;
            a {
                margin-top: 0.5rem;
                span {
                    padding-bottom: 0.25rem;
                    background: linear-gradient(currentColor 0 0) bottom left / var(--underline-width, 0%) 0.1rem no-repeat;
                    transition: background-size 0.5s;
                }
                &:hover span{
                    --underline-width: 100%;
                }
            }
            h6 { 
                font-weight: 500;
                color: rgb(var(--darkblue)); 
            }
        }
    }
    @media screen and (orientation: portrait) {
        .footer-wrapper {
            flex-direction: column;
            align-items: center;
            .homeLink, .col {
                align-items: center;
            }
        }
    }
}