<section class="footer-wrapper">
    <div>
        <a [routerLink]="['/']" class="homeLink">
            <img src="timeless-sea.png"/>
            <span>Къща за Гости</span>
            <span>Морско Безвремие</span>
        </a>
    </div>
    <div class="col">
        <h6>Информация:</h6>
        <a [routerLink]="['about']">
            <span>За къщата</span>
        </a>
        <a [routerLink]="['gallery']">
            <span>Галерия</span>
        </a>
        <a [routerLink]="['contacts']">
            <span>Контакти</span>
        </a>
        <a [routerLink]="['terms-and-conditions']">
            <span>Общи Условия</span>
        </a>
    </div>
    <div class="col">
        <h6>Намерете ни:</h6>
        <a href="https://www.facebook.com/profile.php?id=61560373783883" target="_blank">
            <span>Facebook</span>
        </a>
        <a href="https://www.booking.com/hotel/bg/timeless-sea.bg.html" target="_blank">
            <span>Booking</span>
        </a>
        <a href="https://bg.airbnb.com/rooms/1161564040928933998" target="_blank">
            <span>AirBnb</span>
        </a>
        <a href="https://vila.bg/house-morsko-bezvremie-7588.html" target="_blank">
            <span>Вила.бг</span>
        </a>
        <a href="https://pochivka.bg/kashta-morsko-bezvremie-o60955" target="_blank">
            <span>Почивка.бг</span>
        </a>
    </div>
</section>