<h2>Тази страница е само за администратори, моля въведете данните си!</h2>
<p>Ако не сте администратор, моля върнете се към 
    <a [routerLink]="['/']" routerLinkActive="router-link-active">Началната страница</a>
    .
</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="formField">
        <mat-label>Въведете email</mat-label>
        <input
            matInput
            placeholder="pat@example.com"
            (blur)="updateErrorMessage()"
            required
            id="email" 
            name="email" 
            formControlName="email"
        />
        @if (form.controls.email.invalid) {
            <mat-error>{{errorMessage()}}</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>Въведете парола</mat-label>
        <input 
            matInput 
            [type]="hide() ? 'password' : 'text'"
            id="password" 
            name="password" 
            formControlName="password" 
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <div class="actions">
        <button mat-stroked-button>
            <span>Вход</span>
            <mat-icon iconPositionEnd>arrow_right_alt</mat-icon>
        </button>
    </div>
</form>
