<section class="house-info">
    <img src="/images/Out4.jpg" alt="Къща за гости - Морско Безвремие"/>
    <div class="paragraphs">
        <p>Отпуснете се със стил и комфорт:</p>
        <p>Имотът разполага с две отделни сгради, предлагащи както уединение, така и възможност за разговори, игри и всякакви общи активности.</p>
        <p>Осигурен е безплатен интернет с добро покритие навсякъде.</p>
        <p>Главната къща включва <mat-icon>looks_3</mat-icon> удобни спални и <mat-icon>looks_two</mat-icon> бани с вход през коридора:</p>
        <ul>
            <li>Стая с двойно легло и разтегателен диван за до <mat-icon>looks_two</mat-icon> деца;</li>
            <li>Стая с двойно легло и разтегателен фотьойл за <mat-icon>looks_one</mat-icon> дете;</li>
            <li>Стая с две единични легла, които могат да се съберат и да дадат удобството на двойно легло.</li>
        </ul>
        <p>Гответе, разпускайте или запалете барбекюто. Имотът разполага с напълно оборудвана кухня, където можете да приготвяте вкусни ястия. До нея има трета баня, за допълнително удобство. На открито, запалете барбекюто и се насладете на вечеря под звездите.</p>
        <p>Отпуснете мускулите си в джакузито след дълъг ден, отделете време за себе си в удобни барбарони с книга в ръка или просто разпуснете с любимото си предаване по телевизията.</p>
        <p>Към имота има закрит паркинг, подходящ за една кола, и платен абонамент за едно паркинг място пред къщата.</p>
        <p>Това е вашето перфектно бягство в Царево.</p>
        <div class="reserve">
            <p>Резервирайте своя незабравим престой още днес!</p>
            <button mat-fab extended [routerLink]="['', 'contacts']">
                <mat-icon>book_online</mat-icon>
                Резервирай
            </button>
        </div>
    </div>
</section>
<section class="utilities-container">
    <div class="utilities">
        @for (utility of utilities; track utility.id) {
            <div class="utility">
                <mat-icon>{{ utility.icon }}</mat-icon>
                <div class="text">
                    <p class="main">{{ utility.firstLine }}</p>
                    <p class="additional">{{ utility.secondLine }}</p>
                </div>
            </div>
        }
    </div>
    <img src="/images/Out11.jpg" alt="Къща за гости - Морско Безвремие"/>
</section>
<section class="prices">
    <table>
        <tr>
            <th>Активен период</th>
            <th>Делнична цена</th>
            <th>Уикенд цена</th>
        </tr>
        <tr>
            <td>Силен летен сезон <br> (1 Юли - 8 Септември)</td>
            <td>{{prices?.strong_summer_weekday}}лв. на нощувка</td>
            <td>{{prices?.strong_summer_weekend}}лв. на нощувка</td>
        </tr>
        <tr>
            <td>Слаб летен сезон <br> (1 Май - 31 Май & 9 Септември - 30 Септември)</td>
            <td>{{prices?.weak_summer_weekday}}лв. на нощувка</td>
            <td>{{prices?.weak_summer_weekend}}лв. на нощувка</td>
        </tr>
        <tr>
            <td>Извън сезон <br> (1 Октомври - 31 Март)</td>
            <td>{{prices?.winter_weekday}}лв. на нощувка</td>
            <td>{{prices?.winter_weekend}}лв. на нощувка</td>
        </tr>
    </table>
    <p class="discount">* При повече от 7 нощувки получавате отстъпка от 10% на крайната цена</p>
</section>
<section class="reviews">
    @for (review of reviews; track review.id) {
        <div class="review">
            <div class="heading">
                <div class="name_star">
                    <h5>{{ review.name }}</h5>
                    <div class="stars">
                        @for (star of stars(review.stars); track star){
                            <mat-icon>star</mat-icon>
                        }
                    </div>
                </div>
                <div class="date_platform">
                    {{ review.month_year }}
                    ( {{ review.platform }} )
                </div>
            </div>
            <div class="text">
                {{ review.text }}
            </div>
        </div>
    }
</section>