:host{
    .utilities-container{
        display: flex;
        .utilities{
            display: flex;
            flex-wrap: wrap;
            padding: 2rem;
            .utility{
                display: flex;
                width: 50%;
                margin-bottom: 1rem;
                align-items: center;
                mat-icon{
                    height: 2rem;
                    width: 2rem;
                    font-size: 2rem;
                }
                .text{
                    padding-left: 0.5rem;
                    p{
                        margin: 0;
                    }
                    .main{
                        font-weight: 500;
                    }
                    .additional{
                        color: gray;
                    }
                }
            }
        }
        img{
            border-radius: 2rem;
        }
    }
}