<section class="heading">
    <h2>Свържете се с нас:</h2>
    <div class="static-contacts">
        <a class="phone" href="tel:+359886841912"><mat-icon>phone</mat-icon> +359 886 841 912</a>
        <a class="email" href="mailto:seatime2024@gmail.com"><mat-icon>email</mat-icon> {{ "seatime2024@gmail.com" }}</a>
        <a class="facebook" href="https://www.facebook.com/profile.php?id=61560373783883" target="_blank"><mat-icon>facebook</mat-icon>Facebook</a>
    </div>
</section>
<section class="contact-form-section">
    <h2>Запазете своето място при нас:</h2>
    <form class="contact-form" (submit)="sendEmail($event)" [formGroup]="emailForm">
        <mat-form-field>
            <mat-label>Име</mat-label>
            <input matInput type="text" formControlName="name" name="user_name">
            @if (this.emailForm.controls.name.invalid && this.emailForm.controls.name.touched) {
                <mat-error>Моля въведете вашето име!</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" name="user_email">
            @if (this.emailForm.controls.email.invalid && this.emailForm.controls.email.touched) {
                <mat-error>Моля въведете валиден email адрес!</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Телефонен номер</mat-label>
            <input matInput type="text" formControlName="phone" name="user_phone">
            @if (this.emailForm.controls.phone.invalid && this.emailForm.controls.phone.touched) {
                <mat-error>Моля въведете валиден телефонен номер!</mat-error>
            }
        </mat-form-field>
        <section class="dates">
            <mat-form-field>
                <mat-label>Дата за настаняване</mat-label>
                <input matInput [matDatepicker]="pickerStartDate" formControlName="start_date" name="start_date" [matDatepickerFilter]="bookedDatesFilter" (dateChange)="checkIfEndDateReady()" (click)="pickerStartDate.open()" readonly>
                <mat-hint>ДД/ММ/ГГГГ</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerStartDate></mat-datepicker>                
            </mat-form-field>
            <mat-form-field>
                <mat-label>Дата за напускане</mat-label>
                <input matInput [matDatepicker]="pickerEndDate" formControlName="end_date" name="end_date" [matDatepickerFilter]="endDateFilter" (dateChange)="endDateSelected();" (click)="pickerEndDate.open()" readonly>
                <mat-hint>ДД/ММ/ГГГГ</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerEndDate></mat-datepicker>
                @if (this.emailForm.controls.end_date.invalid && this.emailForm.controls.end_date.touched) {
                    <mat-error>Моля въведете валидна дата за напускане!</mat-error>
                }
            </mat-form-field>
        </section>
        @if (!this.anyDatesAvailable) {
            <mat-error class="dates-error">Минималното време за престой е 3 нощувки! Моля изберете друга дата за настаняване!</mat-error>
        }
        <mat-form-field>
            <mat-label>Съобщение</mat-label>
            <textarea matInput formControlName="message" rows="5" name="message"></textarea>
        </mat-form-field>
        <label class="terms-and-conditions">
            <input type="checkbox" (click)="termsAndConditionsCheckbox()" [disabled]="email_sent" [checked]="termsAndConditions()">
            С изпращането на формата, приемам <a href="/terms-and-conditions" target="_blank"><span>Общите Условия</span></a>
        </label>
        <p class="discount">* При 7 или повече нощувки получавате отстъпка от 10% на крайната цена</p>
        <input formControlName="calculated_price" name="calculated_price" [disabled]="true" hidden>
        <section class="final-price">
            @if ((calculatedPrice && this.emailForm.controls.end_date.value != '' && this.emailForm.controls.end_date.valid) || email_sent == true) {
                @if (discountedPrice) {
                    <div class="calculated" style="display: flex;">Цена за престой:&nbsp;
                        <div class="price-container">
                            <div class="old-price-container">
                            <p class="old-price">{{ calculatedPrice }} лв.</p>
                            </div>
                            <p class="current-price">{{ discountedPrice }} лв.</p>
                        </div>
                    </div>
                }
                @else {
                    <p class="calculated">Цена за престой: <span class="price">{{ calculatedPrice }} лв.</span></p>
                }
            }
            @else {
                <p>Моля изберете дати за изчисляване на крайната цена.</p>
            }
        </section>
        <div class="button-container">
            <button type="submit" [disabled]="buttonStatus || this.email_sent || this.form_submitting || this.emailForm.controls.end_date.value == '' || termsAndConditions() == false" mat-fab aria-label="Submit Email Form">
                <mat-icon>send</mat-icon>&nbsp;
                Резервирай
            </button>
        </div>
        @if (this.email_sent) {
            <div class="email-sent">
                <p>Получихме вашата резервация!</p>
                <p>Ще се свържем с вас скоро!</p>
            </div>
        }
        @if (this.email_failed) {
            <div class="email-failed">
                <p>Имаше проблем с изпращането!</p>
                <p>Моля опитайте по-късно!</p>
            </div>
        }
        <div class="loader-container" [ngClass]="form_submitting ? 'loading' : ''">
            <div class="multi-spinner-container">
                <div class="multi-spinner">
                    <div class="multi-spinner">
                        <div class="multi-spinner">
                            <div class="multi-spinner">
                                <div class="multi-spinner">
                                    <div class="multi-spinner">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<section class="map-section">
    <iframe
        id="google-map"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        [attr.src]="googleMapsUrl">
    </iframe>
    <div class="loader-container loading" id="maps-loader" [ngClass]="form_submitting ? 'loading' : ''">
        <div class="multi-spinner-container">
            <div class="multi-spinner">
                <div class="multi-spinner">
                    <div class="multi-spinner">
                        <div class="multi-spinner">
                            <div class="multi-spinner">
                                <div class="multi-spinner">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="platforms">
    <a class="booking" mat-stroked-button href="https://www.booking.com/hotel/bg/timeless-sea.bg.html" target="_blank">Booking</a>
    <a class="airbnb" mat-stroked-button href="https://bg.airbnb.com/rooms/1161564040928933998" target="_blank">AirBnb</a>
    <a class="vila" mat-stroked-button href="https://vila.bg/house-morsko-bezvremie-7588.html" target="_blank">Вила.бг</a>
    <a class="pochivka" mat-stroked-button href="https://pochivka.bg/kashta-morsko-bezvremie-o60955" target="_blank">Почивка.бг</a>
</section>