<p>gallery works!</p>
<h2>House</h2>
<gallery [items]="findImageObj('interiorImages')" id="interiorImages"></gallery>
<h2>Blue room</h2>
<gallery [items]="findImageObj('blueRoomImages')" id="blueRoomImages"></gallery>
<h2>Green room</h2>
<gallery [items]="findImageObj('greenRoomImages')" id="greenRoomImages"></gallery>
<h2>Red room</h2>
<gallery [items]="findImageObj('redRoomImages')" id="redRoomImages"></gallery>
<h2>Out</h2>
<gallery [items]="findImageObj('outImages')" id="outImages"></gallery>
<h2>Garden</h2>
<gallery [items]="findImageObj('gardenImages')" id="gardenImages"></gallery>