<h2>Разгледайте всички снимки на къщата:</h2>
<section class="gallery-container-row">
    <button class="gallery-container-entry" (click)="openGallery(['blueRoomImages', 'greenRoomImages', 'redRoomImages'], 'allRoomsImages')">
        <h3>Спални</h3>
        <img src="/images/GreenRoom.jpg">
    </button>
    <button class="gallery-container-entry" (click)="openGallery(['gardenImages'], 'gardenImages')">
        <h3>Градина</h3>
        <img src="/images/Jacuzzi.png">
    </button>
</section>
<section class="gallery-container-row">
    <button class="gallery-container-entry" (click)="openGallery(['interiorImages'], 'interiorImages')">
        <h3>Интериор</h3>
        <img src="/images/Kitchen.png">
    </button>
    <button class="gallery-container-entry" (click)="openGallery(['outImages'], 'outImages')">
        <h3>Екстериор</h3>
        <img src="/images/Out15.jpeg">
    </button>
</section>
<div class="modal hidden">
    <div class="content">
        <button mat-fab aria-label="Close gallery modal" class="close" (click)="closeGallery()">
            <mat-icon>close</mat-icon>
        </button>
        <gallery [items]="currentGalleryImages!" id="currentGalleryName" style="height: 95vh;"></gallery>
    </div>
</div>