:host{
    display: block;
    width: 100%;
    h2{
        text-align: center;
        font-family: 'Material Icons'; 
        font-style: oblique;
        margin: 1.5rem 0 3rem 0;
        font-size: 2.812rem;
        font-weight: 500;
    }
    .gallery-container-row {
        display: flex;
        margin: 1rem 2rem;
        .gallery-container-entry {
            width: 50%;
            gap: 2rem;
            height: 60vh;
            border: none;
            cursor: pointer;
            position: relative;
            h3 {
                margin: 0;
                position: absolute;
                top: calc(50% - 2rem);
                width: 100%;
                text-align: center;
                opacity: 0;
                z-index: 1;
                color: white;
                transition: opacity 0.33s;
                font-family: 'Material Icons'; 
                font-style: oblique;
                font-size: 3rem;
                font-weight: 500;
            }
            img {
                width: 100%;
                height: inherit;
                object-fit: cover;
                border-radius: 1rem;
                transition: filter 0.33s;
            }
            &:hover{
                h3 {
                    opacity: 1;
                }
                img {
                    filter: brightness(0.5);
                }
            }
        }
    }
    .modal {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(77, 77, 77, .7);
        transition: all .4s;
        z-index: 100;
        &.active-gallery {
            visibility: visible;
            opacity: 1;
        }
        .content {
            border-radius: 0.25rem;
            // position: relative;
            width: 90%;
            background: transparent;
            padding: 1em 2em;
            .close {
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                color: rgb(var(--yellow));
                background-color: rgb(var(--text));
                text-decoration: none;
                z-index: 2;
                &:hover{
                    background-color: black;
                }
            }
        }
    }
    @media screen and (max-width: 1024px) {
        h2 {
            font-size: 2rem;
        }
        .gallery-container-row {
            flex-direction: column;
            margin: 2rem;
            gap: 2rem;
            .gallery-container-entry {
                width: 100%;
                h3 {
                    opacity: 1;
                }
                img {
                    filter: brightness(0.5);
                }
            }
        }
    }
    @media screen and (max-width: 464px) {
        .gallery-container-row {
            margin: 0.5rem;
            gap: 0.5rem;
        }
    }
}