<p>gallery works!</p>
<h2>House</h2>
<gallery [items]="images.interiorImages" id="interiorImages"></gallery>
<h2>Blue room</h2>
<gallery [items]="images.blueRoomImages" id="blueRoomImages"></gallery>
<h2>Green room</h2>
<gallery [items]="images.greenRoomImages" id="greenRoomImages"></gallery>
<h2>Red room</h2>
<gallery [items]="images.redRoomImages" id="redRoomImages"></gallery>
<h2>Out</h2>
<gallery [items]="images.outImages" id="outImages"></gallery>
<h2>Garden</h2>
<gallery [items]="images.gardenImages" id="gardenImages"></gallery>