<section class="terms-and-conditions">
    <h2>Общи Условия:</h2>
    <section>
        <h3>I. Общи Правила</h3>
        <p>
            <span class="bold">1.1.</span>
            <span>
                Настоящите общи условия уреждат използването на интернет платформата <a href="https://www.morskobezvremie.bg/" target="_blank">https://www.morskobezvremie.bg/</a>, софтуерните приложения към нея и предлаганите чрез тях електронни услуги (наричани по-долу “Услуги” ).
            </span>
        </p>
        <p>
            <span class="bold">1.2.</span>
            <span>
                Платформата <a href="https://www.morskobezvremie.bg/" target="_blank">https://www.morskobezvremie.bg/</a> се поддържа и управлява от "МОРСКО ВРЕМЕ" ООД, със седалище и адрес на управление гр. Бургас, п.к. 8000, бул./ул. ул. "Дунав" № 5, ет. 4, ап. 1, вписано в Търговския регистър към Агенция по вписванията с ЕИК 207227426.                
            </span>
        </p>
        <p>
            <span class="bold">1.3.</span>
            <span>
                При използване на интернет платформата <a href="https://www.morskobezvremie.bg/" target="_blank">https://www.morskobezvremie.bg/</a> и предлаганите чрез нея услуги, между Потребителя на услуги и "МОРСКО ВРЕМЕ" ООД възникват договорни отношения, затова Потребителят следва да е пълнолетно лице според българското законодателство /навършило 18г./ и да се запознае внимателно с настоящите Общи условия.
            </span>
        </p>
        <p>
            <span class="bold">1.4.</span>
            <span>
                Предмет на настоящите Общи Условия са предлаганите чрез платформата <a href="https://www.morskobezvremie.bg/" target="_blank">https://www.morskobezvremie.bg/</a> услуги – извършване от страна на Потребителя на резервация за настаняване в посоченaтa вканционна къща съгласно условията, описани в платформата.
            </span>
        </p>
        <p>
            <span class="bold">1.5.</span>
            <span>
                За да използва предлаганите чрез платформата <a href="https://www.morskobezvremie.bg/" target="_blank">https://www.morskobezvremie.bg/</a> услуги, Потребителят, чрез кликване с мишката на определеното за това място, преди финализиране на всяка резервация, следва да декларира, че е запознат и приема настоящите Общи условия. Финализирането на резервацията потвърждава, че Потребителят /заедно с всички придружаващи лица, включени в резервацията за ползване на същите услуги/, е запознат и е приел Общите условия.
            </span>
        </p>
        <p>
            <span class="bold">1.6.</span>
            <span>
                Настоящите Общи условия са приложими, независимо от използваните от Потребителя устройство, операционна система, браузър или протокол.
            </span>
        </p>
        <p>
            <span class="bold">1.7.</span>
            <span>
                Всякакви претенции по отношение на резервации, плащане, услуги, настаняване следва да бъдат предявени не по-късно от 30 дни от датата на напускане.
            </span>
        </p>
    </section>
    <section>
        <h3>II. Промени в общите условия</h3>
        <p>
            <span class="bold">2.</span>
            <span>
                "МОРСКО ВРЕМЕ" ООД има право едностранно да променя съдържанието на настоящите Общи условия. Всички промени, отразени в настоящите Общи условия, влизат в сила веднага след тяхното публикуване на <a href="https://www.morskobezvremie.bg/" target="_blank">https://www.morskobezvremie.bg/</a>.
            </span>
        </p>
    </section>
    <section>
        <h3>III. Предоставяне на лични данни</h3>
        <p>
            <span class="bold">3.1.</span>
            <span>
                При ползване на услуги чрез <a href="https://www.morskobezvremie.bg/" target="_blank">https://www.morskobezvremie.bg/</a>, Потребителят попълва публикуваната на сайта форма за заявка/резервация, в която задължително предоставя следните лични данни: име и фамилия, валиден телефонен номер и валиден електронен адрес.
            </span>
        </p>
        <p>
            <span class="bold">3.2.</span>
            <span>
                С изпращане на запитване за персонална оферта, чрез формата за контакт или резервиране на помещение, Потребителят дава своето изрично съгласие "МОРСКО ВРЕМЕ" ООД да съхранява и обработва предоставените от него данни.
            </span>
        </p>
    </section>
    <section>
        <h3>IV. Условия за поръчка на услуги и начини на заплащане</h3>
        <p>
            <span class="bold">4.1.</span>
            <span>
                Всяка резервация чрез платформата <a href="https://www.morskobezvremie.bg/" target="_blank">https://www.morskobezvremie.bg/</a> ще бъде счетена за акт за закупуване на съответната услуга - хотелско настаняване.
            </span>
        </p>
        <p>
            <span class="bold">4.2.</span>
            <span>
                За всяка резервация, направена чрез формата за контакт на платформата <a href="https://www.morskobezvremie.bg/" target="_blank">https://www.morskobezvremie.bg/</a> Потребителят получава информация за крайната цена за настаняване за избраният период.
            </span>
        </p>
        <p>
            <span class="bold">4.3.</span>
            <span>
                Преди да изпрати заявка за резервация, Потребителят е отговорен да провери своите данни за резервация и да проследи съответствието на всички заявени от него параметри.
            </span>
        </p>
        <p>
            <span class="bold">4.4.</span>
            <span>
                При получена резервация, "МОРСКО ВРЕМЕ" ООД се задължава да изпрати на предоставения от Потребителя електронен адрес данни за извършване на плащане по банков път.
            </span>
        </p>
        <p>
            <span class="bold">4.5.</span>
            <span>
                Размерът на предплащането е 30% от общата сума на закупената Услуга.
            </span>
        </p>
        <p>
            <span class="bold">4.6.</span>
            <span>
                Предплащането трябва да бъде направено в рамките на 3 работни дни след получаване на данните за плащане. В случай, че заявените услуги не бъдат заплатени в рамките 3 работни дни от получаването на електронното писмо с данните за плащане, направената резервация се анулира.
            </span>
        </p>
        <p>
            <span class="bold">4.7.</span>
            <span>
                Останалата цена от общата сума трябва да бъде изплатена по банков път на същата сметка до 15 дни преди началната дата на резервацията. В случай, че заявените услуги не бъдат заплатени в рамките на 3 работни дни от изтичането на този период, направената резервация се анулира.
            </span>
        </p>
        <p>
            <span class="bold">4.8.</span>
            <span>
                При успешна резервация и пълно заплащане на Услугата, Потребителят ще получи на предоставения от него електронен адрес подробна информация за настаняването.
            </span>
        </p>
        <p>
            <span class="bold">4.9.</span>
            <span>
                Фактура за извършеното плащане Потребителя може да получи при настаняване /в оригинал/ и/или да му бъде изпратена по електронна поща.
            </span>
        </p>
    </section>
    <section>
        <h3>V. Цени</h3>
        <p>
            <span class="bold">5.1.</span>
            <span>
                Цените, посочени в платформата <a href="https://www.morskobezvremie.bg/" target="_blank">https://www.morskobezvremie.bg/</a> са крайни, с включено ДДС и курортна такса.
            </span>
        </p>
        <p>
            <span class="bold">5.2.</span>
            <span>
                Общата цена, дължима от Потребителя за заявените от него услуги, се изчислява в зависимост от броя нощувки, спрямо заявените дати, както и вида на дните от седмицата, включени в периода на резервацията.
            </span>
        </p>
        <p>
            <span class="bold">5.3.</span>
            <span>
                "МОРСКО ВРЕМЕ" ООД запазва правото си да променя цените в платформата <a href="https://www.morskobezvremie.bg/" target="_blank">https://www.morskobezvremie.bg/</a> . При вече направени, потвърдени и платени резервации дължимата сума не се променя, независимо от представените нови ценови оферти.
            </span>
        </p>
        <p>
            <span class="bold">5.4.</span>
            <span>
                Плащането се извършва в български лева по фиксинг на БНБ за деня.
            </span>
        </p>
    </section>
    <section>
        <h3>VI. Резервация и настаняване</h3>
        <p>
            <span class="bold">6.1.</span>
            <span>
                Настоящите Общи условия задължават "МОРСКО ВРЕМЕ" ООД да осигури заявената и платена от Потребителя резервация.
            </span>
        </p>
        <p>
            <span class="bold">6.2.</span>
            <span>
                Полето "Съобщение" в резервационния формуляр няма задължителен характер за "МОРСКО ВРЕМЕ" ООД и всички желания на Потребителя, попълнени във въпросното поле ще бъдат удовлетворени само при възможност.
            </span>
        </p>
        <p>
            <span class="bold">6.3.</span>
            <span>
                В случай, че извънредни обстоятелства налагат "МОРСКО ВРЕМЕ" ООД да анулира заявена и платена от Потребителя резервация на настаняване, "МОРСКО ВРЕМЕ" ООД уведомява Потребителя незабавно и Потребителят има право да избере една от следните алтернативи:
                <p style="padding-top: 0.5rem;">
                    <span class="bold">а)</span>
                    <span>
                        да поиска възстановяване на заплатената сума, при условията и сроковете, определени по-долу.
                    </span>
                </p>
                <p>
                    <span class="bold">б)</span>
                    <span>
                        да ползва платената сума за друг период за настаняване в рамките на период определен от компанията. При приемане на този вид компенсация последващи промени не са възможни.
                    </span>
                </p>
            </span>
        </p>
    </section>
    <section>
        <h3>VII. Анулации и промени</h3>
        <p>
            <span class="bold">7.1.</span>
            <span>
                Искания за анулация на платени резервации от страна на Потребителя се приемат само ако са извършени в писмен вид - по електронна поща на адрес <a href="mailto:seatime2024@gmail.com" target="_blank">{{ "seatime2024@gmail.com" }}</a>.
            </span>
        </p>
        <p>
            <span class="bold">7.2.</span>
            <span>
                В случай на анулиране от страна на Потребителя или в случай на неявяване, като неустойка се удържа 100% от вече заплатената сума. При определени ситуации мястото за настаняване може да предложи използване на платената сума за друг период на настаняване в рамките на определено време. След предоставяне на ваучер за ползване на платена сума, искания за възстановяване на суми не могат да се правят.
            </span>
        </p>
        <p>
            <span class="bold">7.3.</span>
            <span>
                В случай на анулиране от страна на "МОРСКО ВРЕМЕ" ООД, платената сума от потребителя се възстановява обратно по начина и по сметката от която е извършено плащането в срок до 3 работни дни, считано от датата на анулацията.
            </span>
        </p>
        <p>
            <span class="bold">7.4.</span>
            <span>
                <p>Промени на платени резервации</p>
                <p>
                    <span class="bold">7.4.1.</span>
                    <span>
                        Искания за промяна в параметрите на платени резервации от страна на Потребителя се приемат само ако са извършени в писмен вид - по електронна поща на адрес <a href="mailto:seatime2024@gmail.com" target="_blank">{{ "seatime2024@gmail.com" }}</a> не по-късно от 30 дни преди датата на настаняване.
                    </span>
                </p>
                <p>
                    <span class="bold">7.4.2.</span>
                    <span>
                        Екипът на <a href="https://www.morskobezvremie.bg/" target="_blank">https://www.morskobezvremie.bg/</a> ще направи всичко възможно да удовлетвори исканията на Потребителя за промяна на платена резервация, но не гарантира извършването ѝ. Промени в платени резервации се извършват само при възможност и са валидни само след получаване на писмено потвърждение от страна на мястото на настаняване на посочения от Потребителя електронен адрес.
                    </span>
                </p>
                <p>
                    <span class="bold">7.4.3.</span>
                    <span>
                        При промяна в платена резервация е възможно да настъпят промени в цената на резервацията, съобразно новите условия. В този случай промяната в резервацията е валидна след извършване на допълнително заплащане от страна на Потребителя.
                    </span>
                </p>
                <p>
                    <span class="bold">7.4.4.</span>
                    <span>
                        При промяна в параметрите на платени резервации, извършени непосредствено преди началната дата на предоставяне на резервираната услуга, когато срокът за анулация е изтекъл, промените могат да бъдат приравнени на анулация и на Потребителя да бъдат начислени съответните неустойки.
                    </span>
                </p>
                <p>
                    <span class="bold">7.4.5.</span>
                    <span>
                        При всички случаи на анулиране/промяна, независимо от чия страна след изтичане на 30 дневен срок без възражения се счита че страните са удовлетворени и промени, компенсации не могат да бъдат правени и не се дължат.
                    </span>
                </p>
            </span>
        </p>
    </section>
</section>