h1 {
    font-style: oblique;
    text-align: center;
    font-size: 4rem;
    font-family: 'Material Icons';
}
.image-container {
    display: flex;
    justify-content: center;
    position: relative;
    h2 {
        font-style: oblique;
        text-align: center;
        font-size: 2rem;
        font-family: 'Material Icons';
        position: absolute;
        padding: 0 0.5rem;
        max-width: 80%;
        backdrop-filter: blur(5rem);
    }
    img {
        max-width: 100%;
        height: 70vh;
        object-fit: cover;
        border-radius: 2rem;
    }
    button {
        position: absolute;
        bottom: 5%;
        background-color: rgba(var(--blue));
        color: rgb(var(--text));
        font-size: 1.25rem;
        &:hover { 
            box-shadow: 0rem 0rem 0.25rem 0.0625rem rgb(var(--sand)); 
            mat-icon { animation: pulse 1s infinite; }
        }
        mat-icon {
            color: rgba(255,0,0,0.8);
        }
    }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.33); }
    100% { transform: scale(1); }
}