<section class="image-container">
    <section class="title-holder">
        <h1>Къща за гости - Морско Безвремие</h1>
        <h2>Идеална комбинация между релакс и забавление</h2>
    </section>
    <img src="/images/Out7.png" alt="Къща за гости - Морско Безвремие">
    <button mat-fab extended [routerLink]="['contacts']">
        <mat-icon>favorite</mat-icon>
        Запази своето място сега!
    </button>
</section>
<section class="information">
    <section class="row row1">
        <div class="text">
            <p>Намираме се само на <mat-icon>looks_5</mat-icon> минути пеша от плажа, където можете да се насладите на слънцето и морските вълни.</p>
            <p>Чувствате се енергични? Оживеният център на града и красивата Морска градина са само на <mat-icon>looks_5</mat-icon> минути и ви очакват.</p>
            <button mat-fab extended [routerLink]="['about']">
                <mat-icon>house</mat-icon>
                Виж повече за къщата
            </button>
        </div>
        <img src="/images/BlueRoom.jpg" alt="Къща за гости - Морско Безвремие"/>
    </section>
    <section class="row">
        <img src="/images/Jacuzzi.png" alt="Къща за гости - Морско Безвремие"/>
        <div class="text">
            <p>Отпуснете мускулите си в джакузито след дълъг ден, отделете време за себе си в удобни барбарони с книга в ръка.</p>
            <p>Гответе, разпускайте или запалете барбекюто и се насладете на вечеря под звездите.</p>
            <button mat-fab extended [routerLink]="['gallery']">
                <mat-icon>perm_media</mat-icon>
                Разгледай повече снимки
            </button>
        </div>
    </section>
</section>