<section class="image-container">
    <h2>Идеална комбинация между релакс и забавление</h2>
    <img src="/images/home_image.png" alt="Къща за гости - Морско Безвремие">
    <button mat-fab extended [routerLink]="['contacts']">
        <mat-icon>favorite</mat-icon>
        Запази своето място сега!
    </button>
</section>
<section class="information">
    <div class="text">
        <p>Намираме се само на <mat-icon>looks_5</mat-icon> минути пеша от плажа, където можете да се насладите на слънцето и морските вълни.</p>
        <p>Чувствате се енергични? Оживеният център на града и красивата Морска градина са само на <mat-icon>looks_5</mat-icon> минути и ви очакват.</p>
        <button mat-fab extended [routerLink]="['about']">
            <mat-icon>house</mat-icon>
            Виж повече за къщата
        </button>
    </div>
    <img src="/images/Out15.jpeg" alt="Къща за гости - Морско Безвремие"/>
</section>